html, body hr{
	margin:0;
	padding:0;
	height:100%;
	overflow:hidden;
	background:black;
	text-align:center;
}


#admin{
	position:absolute;
	top:1%; right:50%;
	opacity:0;
}

#admin:hover{
	opacity:0.5;
}
h1{
	font-size:20px;
}

#top_block,#bottom_block{
	width:100%;
	height:50%;
	overflow:hidden;
}

.principal_block{ 
	display:inline-block;
	width:49.8%;
	height:98.5%;
	background:white;
	margin:0;
}


#inscriptions_block{
	overflow:auto;
	text-align:left;
	background:#1E90FF;
}
#inscription_form{
	margin:20px;
}
#inscription_form td{
width:25%;
}

#inscrits_block{
	overflow:auto;
	background:#90EE90;
}

#album_block{
	overflow:hidden;
	background:#7F7F7F;
}
#media_block{
	overflow:hidden;
	background:#A52A2A;
}

/* jssor slider bullet navigator skin 05 css */
/*
.jssorb05 div           (normal)
.jssorb05 div:hover     (normal mouseover)
.jssorb05 .av           (active)
.jssorb05 .av:hover     (active mouseover)
.jssorb05 .dn           (mousedown)
*/
.jssorb05 {
	position: absolute;
}
.jssorb05 div, .jssorb05 div:hover, .jssorb05 .av {
	position: absolute;
	/* size of bullet elment */
	width: 16px;
	height: 16px;
	background: url('images/b05.png') no-repeat;
	overflow: hidden;
	cursor: pointer;
}
.jssorb05 div { background-position: -7px -7px; }
.jssorb05 div:hover, .jssorb05 .av:hover { background-position: -97px -7px; }
.jssorb05 .av { background-position: -97px -7px; }
.jssorb05 .dn, .jssorb05 .dn:hover { background-position: -97px -7px; }

/* jssor slider arrow navigator skin 12 css */
/*
.jssora12l                  (normal)
.jssora12r                  (normal)
.jssora12l:hover            (normal mouseover)
.jssora12r:hover            (normal mouseover)
.jssora12l.jssora12ldn      (mousedown)
.jssora12r.jssora12rdn      (mousedown)
*/
.jssora12l, .jssora12r {
	display: block;
	position: absolute;
	/* size of arrow element */
	width: 30px;
	height: 46px;
	cursor: pointer;
	background: url('images/a12.png') no-repeat;
	overflow: hidden;
}
.jssora12l { background-position: -16px -37px; }
.jssora12r { background-position: -75px -37px; }
.jssora12l:hover { background-position: -136px -37px; }
.jssora12r:hover { background-position: -195px -37px; }
.jssora12l.jssora12ldn { background-position: -256px -37px; }
.jssora12r.jssora12rdn { background-position: -315px -37px; }

